.history {
    background-color: $bgBlack;
    color: white;

    &__wrapper {
        max-width: 1000px; 
        margin: 0 auto;
        padding: 8rem 4rem; 
    }

    &__title1 {
        @include title1;
        font-size: 5rem;
    }

    &__title2 {
        @include title2;
    }

    &__text {
        font-family: $Average, serif;
        font-size: 1.5rem;
        line-height: 1.7;
        max-width: 60rem;
        padding-bottom: 3rem;
    }

}

.cite {
    background-color: $darkBlack;
    color: white;
    text-align: center;
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        font-family: $Average, serif;
        font-size: 3.6rem;

    }

    &__author {
        @include title1;
        margin: 2rem;
    }
}