.organic {
    background-color: $bgGrey;
    height: 100vh;
    position: relative;

    &__wrapper {
        max-width: 70rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.organic__info {
    background-color: white;
    text-align: center;
    padding: 5rem 0 2rem;
    
}

.organic__wrapper::after {
    content: '';
    position: absolute;
    width: 92%;
    height: 88%;
    top: 6%;
    left: 4%;
    border: 1px solid black;
    z-index: 20;
}

.organic__title {
    font-size: 3.6rem;
    font-family: $Montserrat;
    text-transform: uppercase;
    color: #1b1b1b;
    font-weight: bold;
    margin-top: 2rem;
    padding: 0 2rem;
}

.organic__text {
    font-size: 1.5rem;
    font-family: $Average;
    color: #4d4d4d;
    line-height: 1.7;
    padding: 0 4rem;
}

.white-btn {
    @include goldButton; 
    background-color: white;
    border: 1px solid black;
    margin: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 30;
    transition: all 1s ease;

    &:hover {
        background-color: black;
        color: white;
    }
}

.organic__social {
    position: absolute;
    top: 40%;
    left: 2%;
}

.organic__icon {
    border: 1px solid black; 
    border-radius: 50%;
    margin-bottom: 2rem;
    padding: .5rem;
    transition: all 1s ease;

    &:hover {
        background-color: #931010;
        color: white;
    } 
    
    i {
        font-size: 1.5rem;
        
        &:hover {
            color: white;
        }
       
    }
    a {
        color: black;

        
    }
}

@media all and (max-width: 767px){
    .organic {
        height: 130vh;
    }
    .organic__wrapper {
        width: 70%;
    }
}

@media all and (min-width: 1900px){
    .organic {
        height: 60vh;
    }
}

