.staff {
    background-color: #292929;
    color: white;
    text-align: center;
    padding: 8rem 2rem;
    

    &__title1 {
        @include title1;
    }

    &__title2 {
        @include title2;
        padding: 1rem 0 5rem;
    }

    &__wrapper {
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.chef {

    display: flex;
    flex-direction: column;

    &__img {
        max-width: 100%;
        padding: 2rem 2rem 4rem; 
    }

    &__name {
        font-family: $Montserrat, sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 1rem;
    }

    &__position {
        font-family: $Average, serif;
        font-size: 1.5rem;
        color: $gold;
    }

    &__icons {
        padding: 3rem 2rem;

        i {
            font-size: 1.5rem;
            color: $gold;
            padding: 1rem;
        }
    }

    &__text {
        font-family: $Average, serif;
        font-size: 1.5rem;
        line-height: 1.6;
        width: 20rem;
        text-align: center;
        padding-bottom: 3rem;
        margin: 0 auto;
    }
}
@media all and (max-width: 767px){
    .staff__wrapper {
        flex-wrap: wrap;
    }
}