.welcome {
    background-color: $littleGrey;

    &__wrapper {
        position: relative;
        padding: 9rem 1rem;
        display: flex;
        z-index: 1;
    }

    &__image {
        max-width: 30rem;
        max-height: 40rem;
        margin-right: 2rem;
    }

    &__box {
        background-color: white;
        max-height: 30rem;
        max-width: 70rem;
        padding: 3rem 3rem 3rem 4rem;
        position: absolute;
        right: 0;
        top: 15rem;
        z-index: 100;
    }

    &__title1 {
        @include title1;
        padding-top: 1rem;
    }

    &__title2 {
        font-size: 3.6rem;
        font-family: $Montserrat, sans-serif;
        color: $title2;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 4px;
        padding-right: 2rem;
    }

    &__text {
        font-family: $Average, serif;
        font-size: 1.5rem;
        color: $text;
        line-height: 1.7;
        padding: 2rem 0;
    }
    
}

.welcome__box::before, .welcome__box::after  {
    content: '';
    position: absolute;
    left: 13rem;
    border-right: 1px solid $gold;
    width: 40rem;
    height: 2rem;
    z-index: 1;
}

.welcome__box::before {
    border-top: 1px solid $gold;
    top: -2rem;
}

.welcome__box::after {
    border-bottom: 1px solid $gold;
    bottom: -2rem;
}


@media all and (max-width: 650px){

    .welcome__image {
        display: none;
    } 

    .welcome__wrapper {
        justify-content: center;
    }

    .welcome__box {
        position: static;
        width: 80%;
        max-height: 100%;
    }

    .welcome__title2 {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 1200px){
    .welcome__box::before, .welcome__box::after {
        display: none;
    }
}